.clg{
    background-color: lightgrey;
    border: solid 1px black;
}

.bg-otaku{background-color :black;}



.carousel-inner img {
    width: 100%;
    height: 500px;
  }

.carousel-inner h1, p{
font-family: "Times New Roman";
}
